{{#partial "content"}}
    <a class="btn btn-warning stretched-link" href="/land/new">ADD NEW LAND</a>
<!--    <a class="btn btn-primary stretched-link" href="/">BACK</a><br><br> -->
{{/partial}}
{{>layout.hbs}}