{{#partial "content"}}
    <div class="text-center" style="margin:20%;">
    <a class="btn btn-warning stretched-link" href="/land/new">ADD NEW LAND</a>
    <a class="btn btn-primary stretched-link" href="/">BACK</a><br><br>
    </div>
{{/partial}}
{{>layout.hbs}}

<!--kkjj-->